header, nav {
  background-color: var(--cor-primaria);
  padding: 1rem 2rem;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

nav a:hover {
  color: var(--cor-link-hover);
}
